@import "../../index";


.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background: url("../../../public/img/main_background.svg");
  background-size: contain;
  background-repeat: no-repeat;


  :global(.ymaps-2-1-79-ground-pane) {
    filter: grayscale(1);
    -ms-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
  }

  :global(.ymaps-2-1-79-placemark-overlay){
    transform: scale(4);
  }
  :global(.ymaps-2-1-79-islets_circle-dot-icon-with-caption){
    position: relative;
    &:after{
      content: '';
      width: calcSize(50);
      height: calcSize(50);
      position: absolute;
      transform: translate(-55%, -55%);
      border-radius: calcSize(100);
      background: white;
    }
  }
  :global(.ymaps-2-1-79-svg-icon){
    background: #315390;
    border-radius: calcSize(10000);
  }

  :global(.ymaps-2-1-79-balloon) {
    :global(.ymaps-2-1-79-balloon__content) {
      padding: calcSize(200);
    }
    :global(.ymaps-2-1-79-balloon__content > ymaps) {
      max-width: calcSize(4000);
      width: max-content !important;
      max-height: calcSize(4000);
      height: max-content !important;
    }

    :global(h3) {
      font-weight: 900;
      font-size: calcSize(300);
      line-height: 120%;
      text-transform: uppercase;
      color: #384057;
    }
    :global(main){
      margin-top: calcSize(80);
      display: flex;
      flex-direction: column;
    }
    :global(main span) {
      font-weight: 600;
      font-size: calcSize(180);
      line-height: 120%;
      text-transform: lowercase;
      color: #384057;
      margin-left: calcSize(260);
      position: relative;
      white-space: nowrap;
      width: max-content;

      &:after{
        content: '';
        width: calcSize(180);
        height: calcSize(180);
        position: absolute;
        top: 0;
        left: calc(#{calcSize(260)} * -1);
        z-index: 100;
        background: url("../../../public/img/map_pin_bullet.svg");
        background-size: contain;
      }
    }

    :global(aside) {
      position: relative;
      font-weight: 300;
      font-size: calcSize(180);
      line-height: 120%;
      margin-top: calcSize(324);
      color: #384057;

      :global(div) {
        margin-left: calcSize(300);
      }

      &:after {
        content: '';
        width: calcSize(220);
        position: absolute;
        top: 0;
        left: 0;
        height: calcSize(220);
        z-index: 100;
        background: url("../../../public/img/map_pin_adress.svg");
        background-size: contain;
      }
    }
  }

  .leftFloatText {
    text-transform: uppercase;
    line-height: 110%;
    width: calcSize(3100);
    height: calcSize(664);
    font-size: calcSize(300);
    transform: rotate(270deg);
    left: calc(#{calcSize(3100)} * 0.3 * -1);
    top: calcSize(6800);
    position: absolute;

    &__main {
      display: block;
      font-weight: 900;
    }

    &__sub {
      font-weight: 200;
    }
  }

  .topFloatText {
    left: calcSize(5211);
    top: calcSize(166);
    position: absolute;
    text-transform: uppercase;
    font-size: calcSize(700);
    line-height: calcSize(770);
    color: #384057;

    &__main {
      font-weight: 900;
    }

    &__sub {
      font-weight: 200;
    }
  }

  .LangBtn {
    position: absolute;
    width: calcSize(1115);
    height: calcSize(1115);
    left: calcSize(18981);
    top: -1px;
    background: #335799;
    color: #F7F7F7;
    font-size: calcSize(150);
    transition: background 0.3s, color 0.3s;
    border: none;
    outline: none;

    &:active {
      background: white;
      color: #335799;
    }
  }

  &__content {
    display: flex;
    flex: 1;
  }

  .contentMap {
    position: absolute;
    width: calcSize(15030);
    height: calcSize(8956);
    left: calcSize(3961);
    top: calcSize(1121);

    .contentMap__recommendation {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    .contentMap__recommendation h2 {
      font-size: 2vw;
      font-weight: 700;
      color: #384054;
      margin-bottom: 0.5vw;
    }
  }
}