.main{
   height: 100vh;
   display: flex;
   flex-direction: column;
   position: relative;

&__top h1{
   font-size: 3vw;
   text-transform: uppercase;
   text-align: end;
   font-weight: 700;
   color:#384054;
}

&__content{
   display: flex;
   flex: 1;
}

.contentMenu{
   background-color: white;
   border: 10px solid #C7C7C7;
   padding: 240px 200px;
   position: absolute;
   width: 2839px;
   height: 6735px;
   left: 1122px;
   top: 2220px;

   h2{
      font-size: 2vw;
      font-weight: 700;
      color:#384054;
   }

   h3{
      margin-top: 1vw;
      margin-bottom: 0.5vw;
      font-size: 200px;
      line-height: 120%;
      font-weight: 900;
      text-transform: uppercase;
      color: #384057;
   }

   &__search{
      position: relative;

      img{
         position: absolute;
         right: 0;
         top: 0;
      }
   }
   &__sports{
      display: flex;
      flex-wrap: wrap;
   }

   &__sports span{
      display: block;
      background-color: #fff;
      width: fit-content;
      box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.25);
      border-radius: 0.5vw;
      margin-right: 0.5vw;
      margin-bottom: 0.5vw;
      padding: 0.5vw 1vw;
      font-size: 1vw;
      font-weight: 700;
      color:#384054;
      user-select: none;
      cursor: pointer;
   }

   &__resultsItems{
      padding: 0.7vw 0;
      overflow-y: scroll;
      max-height: 22vw;
      padding-right: 1vw;


   }

   &__resultsItems::-webkit-scrollbar{
      width: 0.5vw;
   }

   &__resultsItems::-webkit-scrollbar-thumb{
      background-color: #fff;
      border-radius: 100px;
   }

   &__resultsItems::-webkit-scrollbar-track-piece{
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 100px;
   }

   &__results span{
      display: block;
      border-top: 10px solid #C7C7C7;
      padding: 160px 0;
      font-weight: 600;
      font-size: 150px;
      line-height: 120%;
      color: #315390;
   }
   &__results span:first-child{
      margin-top: 180px;
   }
}

.contentMap{
   position: absolute;
   width: 15030px;
   height: 8956px;
   left: 3961px;
   top: 1121px;
   border: 10px solid #C7C7C7;

   .contentMap__recommendation{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding-left: 3%;
      padding-bottom: 7%;
   }

   .contentMap__recommendation h2{
      font-size: 2vw;
      font-weight: 700;
      color:#384054;
      margin-bottom: 0.5vw;
   }
}
}