@import "../../index";


.VirtualKeyboard{

  &__keyboard{
    position: fixed;
    z-index: 1;
    top: 65vh;
    left: 0;
    width: 100vw;
    height: 35vh;
    background: #E9EFF7;
    overflow: hidden;
    transition: height 0.3s, transform 0.3s;

    &--m-visible{
      height: 35vh;
      transform: translateY(0);
    }
    &--m-hidden{
      height: 0;
      transform: translateY(35vh);
      transition: height 0.3s, transform 0.3s;
    }
    :global(.hg-theme-default){
      background: unset;
      padding: 0;
    }
    :global(.hg-row:first-child){
      padding-top: 1vh;
    }
    //all btn styles
    :global(.hg-button){
      height: 6vh;
      color: #384057;
      background: white;
      font-size: calcSize(300);
      border-radius: calcSize(100);
      margin: calcSize(30) !important;
      box-shadow: unset;
      padding: 0 !important;
      outline: calcSize(1) solid #384057;
      border-bottom: none;
      transition: background 0.3s, color 0.3s;
      &:active{
        outline: unset;
        color: black;
      }
    }
    :global(.hg-theme-default .hg-row .hg-button:not(:last-child)){
      //margin-right: 0;
    }
    //.com btn styles
    :global(.hg-theme-default .hg-button.hg-standardBtn[data-skbtn=".com"]){
      max-width: 7vw;
    }
    //@ btn styles
    :global(.hg-theme-default .hg-button.hg-standardBtn[data-skbtn="@"]){
      max-width: 7vw;
    }

    :global(.hg-button[data-skbtn="{close}"]){
      font-size: 0;
      position: relative;
      background: #9D2030;
      transition: background 0.3s;

      &:active{
        background: white;
        color: black;
      }
      &::before{
        position: absolute;
        top: 50%;
        left: 30%;
        content: "";
        width: 40%;
        height: calcSize(30);
        transform: rotate(135deg);
        background: white;
      }

      &::after{
        position: absolute;
        top: 50%;
        left: 30%;
        content: "";
        width: 40%;
        height: calcSize(30);
        transform: rotate(45deg);
        background: white;
      }
    }
  }

  & .input{
    position: relative;
    width: calcSize(2439);
    height: calcSize(460);
    border: calcSize(10) solid #315390;
    display: flex;
    align-items: center;
    padding: 0 0 0 calcSize(400);

    input{
      width: 100%;
      height: calcSize(240);
      font-size: calcSize(150);
      border: unset;
      outline: unset;

      &::placeholder{
        color: #315390;
        font-size: calcSize(150);
        margin-top: calcSize(20);
        //line-height: 120%;
      }
    }

    &__icon{
      position: absolute;
      left: calcSize(128);
      top: 0;
      width: calcSize(200);
      height: 100%;
      display: flex;
      align-items: center;

      & img{
        position: relative;
        object-fit: contain;
        width: 100%;
      }
    }
  }
}