@import "../../index";

.leftFloatMenu {
  background-color: white;
  outline: #{calcSize(10)} solid #C7C7C7;
  padding: calcSize(240) calcSize(200);
  position: absolute;
  width: calcSize(2839);
  height: calcSize(6735);
  left: calcSize(1122);
  top: calcSize(2220);

  h2 {
    font-size: 2vw;
    font-weight: 700;
    color: #384054;
  }

  h3 {
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    font-size: calcSize(200);
    line-height: 120%;
    font-weight: 900;
    text-transform: uppercase;
    color: #384057;
  }

  &__search {
    position: relative;
    margin-top: calcSize(200);

    img {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  &__sportsTagsScrollContainer{
    height: calcSize(5000);
    overflow-y: scroll;
    width: calc(100% + #{calcSize(50)});
    margin: calcSize(240) 0 calcSize(380);

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__sportsTags {
    display: flex;
    flex-wrap: wrap;
    gap: calcSize(80);
  }

  &__sportsTags .sportTag {
    background: #E9EFF7;
    border-radius: calcSize(10000);
    width: fit-content;
    padding: calcSize(80) calcSize(120);
    font-size: calcSize(150);
    line-height: 120%;
    color: rgba(49, 83, 144, 0.65);
    cursor: pointer;
    font-weight: 400;
    transition: background 0.3s, color 0.3s, font-weight 0.3s;

    &--m-active {
      background: #315390;
      font-weight: 600;
      color: #FFFFFF;
      transition: background 0.3s, color 0.3s, font-weight 0.3s;
    }
  }
}
