@import "../../index";

.contentMap {
  position: absolute;
  width: calcSize(15030);
  height: calcSize(8956);
  left: calcSize(3961);
  top: calcSize(1121);

  .contentMap__recommendation {
    position: absolute;
    bottom: calcSize(-1150);
    background: #e9eff7;
    left: 0;
    width: 100%;

    :global(.slick-arrow) {
      width: calcSize(500);
      height: calcSize(500);
      z-index: 1000;
    }

    :global(.slick-next::before), :global(.slick-prev::before) {
      content: '';
    }

    :global(.slick-next), :global(.slick-prev) {
      background-image: url(../../../public/img/bigSliderArrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      padding: 100px;
      background-size: 50% 50%;
      top: 35%;
    }

    :global(.slick-next) {
      right: 0;
      transform: rotate(180deg);
    }

    :global(.slick-prev) {
      left: 0;
      top: 50%;
    }

    :global(.slick-track) {
      min-width: max-content;
    }

    :global(.recommendationCard__front){
      transition: opacity 0.5s, transform 0.5s;
    }

    :global(.recommendationCard__back){
      transition: transform 0.5s, opacity 0.1s;
    }

    :global(.slick-slide) {
      transition: transform 0.5s, opacity 0.5s;
    }

    :global(.slick-active:not(.slick-center):not(.slick-center-fork)) {
      transform: scale(0.9);
    }

    :global(.slick-active:not(.slick-center):not(.slick-center-fork) .recommendationCard__front){
      backdrop-filter: blur(4px);
      pointer-events: none;
      touch-action: none;
      opacity: 0.8;
    }
  }

  .contentMap__recommendation h2 {
    font-size: 2vw;
    font-weight: 700;
    color: #384054;
    margin-bottom: 0.5vw;
  }

  :global(.RecommendationCard_recommendationCard__frontLeft .slick-prev) {
    display: none !important;
  }

  :global(.RecommendationCard_recommendationCard__frontLeft .slick-next) {
    right: 0;
    top: unset;
    bottom: 0;
  }

  :global(.RecommendationCard_recommendationCard__frontLeft .slick-slider),
  :global(.RecommendationCard_recommendationCard__frontLeft .slick-list),
  :global(.RecommendationCard_recommendationCard__frontLeft .slick-track) {
    height: 100%;
  }

  :global(.RecommendationCard_recommendationCard__frontLeft .slick-slide > div) {
    height: 100%;
  }
}
